/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    
    font-family: "Helvetica Neue", serif; 
    background-image: url('assets/bg.jpg');
    overflow-x: hidden;
}
